// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

main {
    .cont-img {
        flex: 0 0 30%;
    }
    .cont-info {
        flex: 0 0 70%;
        margin-left: 1rem;
    }
}
.overlay {
    display: flex;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);

    .popup {
        margin: auto;
        padding: 2rem;
        max-width: 90%;
        background-color: white;
        border-radius: 1rem;
    }
}
