@import "node_modules/bootstrap/scss/bootstrap";

main {
    .cont-img {
        flex: 0 0 30%;
    }
    .cont-info {
        flex: 0 0 70%;
    }
    form {
        label {
            padding-top: .4rem;
        }
    }
}
